@import "tailwindcss";

@theme {
  --font-sans: 'Open Sans', sans-serif;
}

.font-light {
  font-family: var(--font-sans);
  font-weight: 300;
}

.font-regular {
  font-family: var(--font-sans);
  font-weight: 400;
}

.font-medium {
  font-family: var(--font-sans);
  font-weight: 500;
}

.font-semibold {
  font-family: var(--font-sans);
  font-weight: 600;
}

.font-bold {
  font-family: var(--font-sans);
  font-weight: 700;
}

.font-extrabold {
  font-family: var(--font-sans);
  font-weight: 800;
}

:root {
  --background: #1B1A1A;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1A1A;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
